In [10]:
import pandas as pd

In [11]:
food = pd.read_csv('../data/raw/FoodData_Central_csv_2023-04-20/food.csv')

In [12]:
# Food with a food_category_id only belongs to the data type survey_fndds_food
food[food.food_category_id.notna()].data_type.unique()

array(['survey_fndds_food'], dtype=object)

In [13]:
food.data_type.value_counts()

data_type
branded_food                1845297
sub_sample_food               44537
sr_legacy_food                 7793
market_acquistion              6402
survey_fndds_food              5624
sample_food                    2904
agricultural_acquisition        810
foundation_food                 307
experimental_food                65
Name: count, dtype: int64

In [14]:
nutrients = pd.read_csv('../data/raw/FoodData_Central_csv_2023-04-20/food_nutrient.csv')

/tmp/ipykernel_30221/286554934.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  nutrients = pd.read_csv('../data/raw/FoodData_Central_csv_2023-04-20/food_nutrient.csv')

In [15]:
food[food.fdc_id.isin(nutrients.fdc_id.unique())].data_type.value_counts()

data_type
branded_food                1740039
sub_sample_food               44240
sr_legacy_food                 7793
survey_fndds_food              5624
agricultural_acquisition        810
foundation_food                 307
Name: count, dtype: int64

In [16]:
nutrient_info = pd.read_csv('../data/raw/FoodData_Central_csv_2023-04-20/nutrient.csv')

In [17]:
nutrient_info[['id', 'name']].rename(columns={'id': 'nutrient_id'}).merge(
    nutrients[nutrients.fdc_id==2530463],
    on='nutrient_id',
    how='right'
).sort_values('nutrient_id')

,nutrient_id,name,id,fdc_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired
8,1003,Protein,31400747,2530463,3.53,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
5,1004,Total lipid (fat),31400748,2530463,0.59,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
12,1005,"Carbohydrate, by difference",31400749,2530463,15.29,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
9,1008,Energy,31400750,2530463,82.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
13,1079,"Fiber, total dietary",31400752,2530463,0.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1087,"Calcium, Ca",31400753,2530463,118.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
14,1089,"Iron, Fe",31400754,2530463,0.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
0,1092,"Potassium, K",31400755,2530463,160.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1093,"Sodium, Na",31400756,2530463,50.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
7,1104,"Vitamin A, IU",31400757,2530463,1600.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1110,"Vitamin D (D2 + D3), International Units",31400758,2530463,47.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1235,"Sugars, added",31400759,2530463,7.10,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
11,1253,Cholesterol,31400760,2530463,3.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
10,1257,"Fatty acids, total trans",31400761,2530463,0.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
6,1258,"Fatty acids, total saturated",31400762,2530463,0.29,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,"Sugars, total including NLEA",31400751,2530463,11.18,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
nutrient_info[['id', 'name']].rename(columns={'id': 'nutrient_id'}).merge(
    nutrients[nutrients.fdc_id==1696147],
    on='nutrient_id',
    how='right'
).sort_values('nutrient_id')

,nutrient_id,name,id,fdc_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired
12,1003,Protein,20349774,1696147,7.81,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
0,1004,Total lipid (fat),20349775,1696147,3.91,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
13,1005,"Carbohydrate, by difference",20349776,1696147,11.72,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
10,1008,Energy,20349777,1696147,109.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1079,"Fiber, total dietary",20349779,1696147,0.80,NaN,73.0,NaN,NaN,NaN,NaN,NaN,NaN
8,1087,"Calcium, Ca",20349780,1696147,78.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1089,"Iron, Fe",20349781,1696147,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN
5,1093,"Sodium, Na",20349782,1696147,35.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
9,1110,"Vitamin D (D2 + D3), International Units",20349783,1696147,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN
11,1235,"Sugars, added",20349784,1696147,7.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1253,Cholesterol,20349785,1696147,8.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
7,1257,"Fatty acids, total trans",20349786,1696147,0.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
6,1258,"Fatty acids, total saturated",20349787,1696147,1.17,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,"Sugars, total including NLEA",20349778,1696147,8.59,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
sff = food[food.data_type=='survey_fndds_food'].description

In [25]:
sff

1709996                                 Milk, human
1709997                                   Milk, NFS
1709998                                 Milk, whole
1709999                      Milk, reduced fat (2%)
1710000                          Milk, low fat (1%)
                             ...
1715615            Tomatoes as ingredient in omelet
1715616    Other vegetables as ingredient in omelet
1715617           Vegetables as ingredient in curry
1715618           Sauce as ingredient in hamburgers
1715619        Industrial oil as ingredient in food
Name: description, Length: 5624, dtype: object