In [65]:
import pandas as pd
import numpy as np
import json
import ast

from src.data.utils import read_data

In [2]:
pd.set_option('max_colwidth', 500)
pd.set_option('display.max_rows', 500)

In [9]:
food_ingredient_nutrition_info_processed = read_data('../data/interim/food_ingredient_nutrition_info_processed.csv')
response_var = read_data('../data/interim/response_dataframe.csv')
response_var = response_var.drop('Unnamed: 0', axis=1)

In [10]:
response_var

        fdc_id  fdc_id_to  similar
0      2340760    2340760        1
1      2340760    2340761        1
2      2340760    2340762        1
3      2340760    2340763        1
4      2340760    2340764        1
...        ...        ...      ...
13469  2343045    2340823        1
13470  2343045    2340830        1
13471  2343045    2340844        1
13472  2343045    2340845        1
13473  2343045    2343045        1

[13474 rows x 3 columns]

In [20]:
food_ingredient_nutrition_info_processed.nutrition = food_ingredient_nutrition_info_processed.nutrition.apply(ast.literal_eval)

In [45]:
def get_unique_nutrition_names(info):
    info = pd.DataFrame(info)
    return list(info.name.unique())
    
all_available_nutrients = sorted(list(set(food_ingredient_nutrition_info_processed.nutrition.apply(get_unique_nutrition_names).sum())))

In [46]:
all_available_nutrients

['Calcium, Ca',
 'Carbohydrate, by difference',
 'Carotene, alpha',
 'Carotene, beta',
 'Cholesterol',
 'Choline, total',
 'Copper, Cu',
 'Cryptoxanthin, beta',
 'Energy',
 'Fatty acids, total monounsaturated',
 'Fatty acids, total polyunsaturated',
 'Fatty acids, total saturated',
 'Fiber, total dietary',
 'Folate, DFE',
 'Folate, food',
 'Folate, total',
 'Folic acid',
 'Iron, Fe',
 'Lycopene',
 'MUFA 16:1',
 'MUFA 18:1',
 'MUFA 20:1',
 'MUFA 22:1',
 'Magnesium, Mg',
 'Niacin',
 'PUFA 18:2',
 'PUFA 18:3',
 'PUFA 18:4',
 'PUFA 20:4',
 'PUFA 20:5 n-3 (EPA)',
 'PUFA 22:5 n-3 (DPA)',
 'PUFA 22:6 n-3 (DHA)',
 'Phosphorus, P',
 'Potassium, K',
 'Protein',
 'Retinol',
 'Riboflavin',
 'SFA 10:0',
 'SFA 12:0',
 'SFA 14:0',
 'SFA 16:0',
 'SFA 18:0',
 'SFA 4:0',
 'SFA 6:0',
 'SFA 8:0',
 'Selenium, Se',
 'Sodium, Na',
 'Sugars, Total',
 'Thiamin',
 'Total lipid (fat)',
 'Vitamin A, RAE',
 'Vitamin B-12',
 'Vitamin B-12, added',
 'Vitamin B-6',
 'Vitamin C, total ascorbic acid',
 'Vitamin D (D2 + D3)',
 'Vitamin E (alpha-tocopherol)',
 'Vitamin E, added',
 'Vitamin K (phylloquinone)',
 'Water',
 'Zeaxanthin',
 'Zinc, Zn']

In [76]:
test = pd.DataFrame(food_ingredient_nutrition_info_processed.nutrition.iloc[0])
missing_nutrients = set(all_available_nutrients) - set(test.name.to_list())
test_n = test.groupby(['name'])[['Nutrient value']].sum()
test_mn = pd.DataFrame(missing_nutrients, columns=['name'])
test_mn['Nutrient value'] = np.nan
test_mn.set_index('name', inplace=True)
test = pd.concat([test_n, test_mn]).sort_index().T

In [77]:
test

name,"Calcium, Ca","Carbohydrate, by difference","Carotene, alpha","Carotene, beta",Cholesterol,"Choline, total","Copper, Cu","Cryptoxanthin, beta",Energy,"Fatty acids, total monounsaturated",...,"Vitamin B-12, added",Vitamin B-6,"Vitamin C, total ascorbic acid",Vitamin D (D2 + D3),Vitamin E (alpha-tocopherol),"Vitamin E, added",Vitamin K (phylloquinone),Water,Zeaxanthin,"Zinc, Zn"
Nutrient value,32.0,6.89,NaN,7.0,14.0,16.0,0.052,NaN,70.0,1.658,...,NaN,0.011,5.0,0.1,0.08,NaN,0.3,87.5,NaN,0.17